.pdg-nav {
    padding-left: 5%;
}

/* @media (min-width: 450px) { */
    .pdg-items {
        margin-right: 2rem;
    }
/* } */

@media (max-width: 450px) {
    .pdg-items {
        font-size: 25px !important;
    }
}

.nav-text {
    color: #d4af37 !important;
    font-family: "BentonSans Bold";
}

.nav-txt-line {
    font-size: 20px;
}
