<nav class="navbar navbar-expand-lg navbar-light bg-light rounded pdg-nav"
  style="background-color: #fdfdf9 !important;">
  <a class="navbar-brand" href="#">
    <h2>
      <!-- <img src="../assets/logos/aleria-logo.jpg" alt="Logo" class="img-responsive rounded" style="max-height: 50px;"> -->
      <div class="row">
        <div class="col-xs-12 ">
          <span class="pdg-items nav-text"> Aleria Bakery&Cafe </span>
        </div>
      </div>
    </h2>

  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link nav-text nav-txt-line" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link nav-text nav-txt-line" routerLink="gallery">Gallery</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link nav-text nav-txt-line" routerLink="contact">Contact <span
            class="sr-only">(current)</span></a>
      </li>
    </ul>
    <span class="navbar-text">
      Mon - Sun: 7:00 AM – 10:00 PM
    </span>
  </div>
</nav>