<footer class="footer">
    <div class="rounded" style="background-color: #fdfdf9 !important;">
        <div class="container">
            <div class="row pdg-10">
                <div class="col-md-3 col-sm-6">
                    <div class="footer-title">Hours</div>
                    <div><small>Mon - Sun: 7:00 AM – 10:00 PM</small></div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="footer-title">Contact Us</div>
                    <div>
                        <a href="tel:2014966443">
                            <span class="font-weight-light">
                                <small>(201) 496-6443 |
                                    <a href="mailto:aleriabakery@gmail.com"><span
                                            style="margin-left:2px;">aleriabakery@gmail.com</span></a>
                                </small></span>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="footer-title">Quick Links</div>
                    <div>
                        <small>
                            <a routerLink="/">Home |</a>
                            <a routerLink="menu"> Menu |</a>
                            <a routerLink="gallery"> Gallery |</a>
                            <a routerLink="contact"> Contact</a>
                        </small>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 text-center">
                    <h6>
                        <div>
                            <small>© 2021 Aleria Bakery.</small>
                        </div>
                        <div>
                            <small>Designed and created by Duygu Uz.</small>
                        </div>
                    </h6>
                </div>

            </div>
        </div>
    </div>
</footer>