.topbar {
    background-color: #303030;
    color: #ffffff;
}

.address-line {
    font-size: 14px;
}

.topbar-phone {
    margin-left: 20px;
}

.topbar-mail{
    margin-left: 20px;
}
.material-icons{
    font-size: 14px !important;
}

.facebook {
    font-size: 22px !important;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.circle-link {
    margin-right: 10px;
}

.instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%); 
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%); 
    border-radius: 30%;  
    padding-bottom: 3px;
}

.facebook {
    color: #3b5998;
}

.fb {
    background-color: white;
    border-radius: 50%;
}