<div class="sec-container">
  <div class="sec sec-content">
    <div class="sec-inner">
      <div class="panel">
        <div class="panel-body">
          <div style="font-size: large;margin-bottom: 2%;">
            Planning a special event? Write us here:
          </div>
          <form action="https://formsubmit.co/uzduygu8154@gmail.com" [formGroup]="contactForm" method="post"
            (ngSubmit)="onSubmit()">
            <div class="form-group form-align">
              <label for="exampleFormControlInput1">Name
                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor"
                  class="bi bi-asterisk" viewBox="0 0 16 16" style="color: red;padding-bottom:5px;">
                  <path
                    d="M8 0a1 1 0 0 1 1 1v5.268l4.562-2.634a1 1 0 1 1 1 1.732L10 8l4.562 2.634a1 1 0 1 1-1 1.732L9 9.732V15a1 1 0 1 1-2 0V9.732l-4.562 2.634a1 1 0 1 1-1-1.732L6 8 1.438 5.366a1 1 0 0 1 1-1.732L7 6.268V1a1 1 0 0 1 1-1z" />
                </svg>
              </label>
              <input type="text" name="name" class="form-control" id="exampleFormControlInput1" placeholder="Name"
                formControlName="name">
            </div>
            <div class="form-group form-align">
              <label for="exampleFormControlInput2">Phone Number
                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor"
                  class="bi bi-asterisk" viewBox="0 0 16 16" style="color: red;padding-bottom:5px;">
                  <path
                    d="M8 0a1 1 0 0 1 1 1v5.268l4.562-2.634a1 1 0 1 1 1 1.732L10 8l4.562 2.634a1 1 0 1 1-1 1.732L9 9.732V15a1 1 0 1 1-2 0V9.732l-4.562 2.634a1 1 0 1 1-1-1.732L6 8 1.438 5.366a1 1 0 0 1 1-1.732L7 6.268V1a1 1 0 0 1 1-1z" />
                </svg>
              </label>
              <input type="text" name="phone" class="form-control" id="exampleFormControlInput2" placeholder="phone"
                formControlName="phone">
            </div>
            <div class="form-group form-align">
              <label for="exampleFormControlInput3">Email address</label>
              <input type="email" name="email" class="form-control" id="exampleFormControlInput3"
                placeholder="name@example.com" formControlName="email">
            </div>
            <div class="form-group form-align">
              <label for="exampleFormControlInput4">Subject</label>
              <input type="text" name="subject" class="form-control" id="exampleFormControlInput4" placeholder="Subject"
                formControlName="subject">
            </div>
            <div class="form-group form-align">
              <label for="exampleFormControlTextarea1">Message
                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor"
                  class="bi bi-asterisk" viewBox="0 0 16 16" style="color: red;padding-bottom:5px;">
                  <path
                    d="M8 0a1 1 0 0 1 1 1v5.268l4.562-2.634a1 1 0 1 1 1 1.732L10 8l4.562 2.634a1 1 0 1 1-1 1.732L9 9.732V15a1 1 0 1 1-2 0V9.732l-4.562 2.634a1 1 0 1 1-1-1.732L6 8 1.438 5.366a1 1 0 0 1 1-1.732L7 6.268V1a1 1 0 0 1 1-1z" />
                </svg>
              </label>
              <textarea class="form-control" name="message" id="exampleFormControlTextarea1" rows="5"
                formControlName="message"></textarea>
            </div>
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-asterisk"
                viewBox="0 0 16 16" style="color: red;padding-bottom:5px;">
                <path
                  d="M8 0a1 1 0 0 1 1 1v5.268l4.562-2.634a1 1 0 1 1 1 1.732L10 8l4.562 2.634a1 1 0 1 1-1 1.732L9 9.732V15a1 1 0 1 1-2 0V9.732l-4.562 2.634a1 1 0 1 1-1-1.732L6 8 1.438 5.366a1 1 0 0 1 1-1.732L7 6.268V1a1 1 0 0 1 1-1z" />
              </svg>
              <span class="font-weight-light"><small>Indicates required.</small></span>
            </div>
            <div class="align-btn">
              <input class="btn btn-primary" type="submit" value="Send" [disabled]="!contactForm.valid"
                data-toggle="modal" data-target="#myModal">
            </div>
          </form>

          <div class="modal" tabindex="-1" role="dialog" id="myModal">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Success!</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" routerLink="/">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Thank you for your submission. We will contact you soon!</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal" routerLink="/">Close</button>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>

  </div>
</div>