<div>
    <div class="container" >
        <div class="text-center bg-menu">
            <div>
                <h1>Breakfast Menu</h1>
                <div>
                    Add cheese, turkish Pepperoni or egg $2 | Add Avocado $3, Nutella $2.5​
                </div>
                <h4>Breakfast Plate $15</h4>
                <div>
                    Feta Cheese, Mozzarella Cheese, Tomato, Cucumber, Green Olives, Black Olives, Honey, Cream, Butter, Jam, Boiled Egg, Walnuts, Hotdog
                </div>
                <h4> Melemen $11 </h4>
                <div>
                    2 eggs, Tomatoes, Green and Red Peppers,salt,black pepper
                </div>
                <h4>3 Eggs $9</h4>
                <div>
                    Scrambled or Sunny Side Up 
                </div>
                <div>
                    Served with house salad
                </div>
                <h4>Avocado Egg Salad $13</h4>
                <div>
                    2 boiled eggs, Avocado, Feta cheese, Tomatoes, Cucumber, Onions, Olives and House dressing
                </div>
                <h4>Borek Platter $11.50</h4>
                <div>
                    Water borek or kol borek served with Feta, Tomato, Olives, Cucumber
                </div>
                <h4>Water Borek $7</h4>
                <div>
                    Handmade lasagna dough stuffed with mozzarella and feta cheese
                </div>
                <h4>Kol Borek $7.50</h4>
                <div>
                    Handmade phyllo dough Stuffed with Feta Cheese, Spinach and Feta or Ground beef
                </div>
            </div>
            <div>
                <h1>Pastries / Sandwich</h1>
                <div>
                    Feta cheese, Cream cheese, Mozz cheese, turkish pepperoni, egg or nutella $2
                </div>
                <div>
                    Tuna salad, egg salad $3 jam, tomato, cucumber, pepper or olives $1
                </div>
                <h4>Stuffed Dough (Pogca) $1.75</h4> 
                <div>
                    Stuffed with Feta, mozzarella or olives
                </div> 
                <h4>Sesame Bagel (Simit) $2</h4> 
                <h4>Soft Bagel (Acma) $2</h4>  
                <h4>Soft Bagel with olives $2.25</h4>    
                <h4>Simit or Acma sandwich $8</h4>
                <div>
                    Mozzarella cheese, cream cheese, tomato, cucumber
                </div>
            </div>
            <div>
                <h1>Panini / Toast</h1>
                <div>
                    Served with house salad
                </div>
                <div>
                    Sub english muffin $1, acma $2, sesame bagel $2
                </div>
                <h4>Avocado toast $12.00</h4>
                <div>
                    Avocado, tomato, turkish pepperoni, 2 scramble egg, salt and pepper
                </div>
                <h4>Tuna Melt $8.00</h4>
                <div>
                    Eglish muffin, Tuna salad, tomato, and cheddar cheese
                </div>
                <h4>Egg Salad $7.00</h4>
                <div>
                    Mayo, mustard, onion,paprika, salt and pepper
                </div>
                <h4>Cheese Panini $6.50</h4>
                <div>
                    Mozzarella cheese
                </div>
                <h4>3 Cheese Panini $8.50</h4>
                <div>
                    Mozzarella, feta and cheddar cheese, tomato and pesto sauce
                </div>
                <h4>Mozz. cheese and Turkish Pepperoni $8.00 Aleria Panini $ 12</h4>
                <div>
                    Hotdog, turkish pepperoni, mozzarella cheese, pickle, russian salad, mayo, ketchup
                </div>
            </div>
        </div>
        <div class="text-center bg-menu">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <h1>Baklava</h1>
                    <div>Price By Pound</div>
                    <div>Add maras ice cream $3</div>
                    <h4>Pistachio roll $20</h4>
                    <h4>Cold baklava $18</h4>
                    <h4>Mussel baklava $20</h4>
                    <h4>Sobiyet $18</h4>
                    <h4>Special crispy roll $18</h4>
                    <h4>Classic pistachio $15</h4>
                    <h4>Walnut baklava $15</h4>
                    <h4>Seker pare $13</h4>
                    <h4>Mix baklava $18</h4>
                    <h4>Chef special $18</h4>
                    <h4>Vegan baklava $18</h4>
                </div>
                <div class="col-md-6 col-sm-12">
                    <h1>Dessert</h1>
                    <h4>Canoli $3</h4>
                    <h4>Almond pudding $5</h4>
                    <h4>Rice pudding $4</h4>
                    <h4>Chocolate pudding $5</h4>
                    <h4>Profotorol $6</h4>
                    <h4>Ecler $2</h4>
                    <h4>Cheesecake $6</h4>
                    <div>*Plain/ Strawberry/ Oreo</div>
                    <h4>Tramisu $6</h4>
                    <h4>Berry tart $6</h4>
                    <h4>Banana Cake $8</h4>
                    <h4>Tres leches $7</h4>
                    <h4>Marash vanilla ice cream $6</h4>
                </div>
            </div>
            <h1>Special Desserts</h1>
            <div class="row justify-content-around">
                <div class="col-md-4 col-sm-12">
                    <h4>Kunefe S / M / L  $13 / 25 / 35</h4>
                </div>
                <div class="col-md-4 col-sm-12">
                  <h4>Katmer  $14</h4>
                </div>
              </div>
            <h1>Coffee / Tea</h1>
            <div class="row justify-content-around">
                <div class="col-md-4 col-sm-12">
                    <h4>Espresso $3.00</h4>
                    <h4>Cortado $3.50</h4>
                </div>
                <div class="col-md-4 col-sm-12">
                    <h4>Macchiato $3.50</h4>
                    <h4>Turkish / double $4.00 / $5.50</h4>
                </div>
            </div>
            <h1>Hot / Iced</h1>
            <div class="row justify-content-around">
                <div class="col-md-4 col-sm-12">
                    <h4>Americano $3.50</h4>
                    <h4>Coffee $2.50</h4>
                    <h4>Cappuccino $4.00</h4>
                    <h4>Latte $4.00</h4>
                    <div>*Caramel +.25</div>
                    <div>*Vanilla +.25</div>
                    <div>*Hazelnut +.25</div>
                    <div>*White choc. +.25</div>
                    <div>*Golden +.25</div>
                    <div>*Oat milk +.25</div>
                    <div>*Almond milk +.25</div>

                </div>
                <div class="col-md-4 col-sm-12">
                    <h4>Chai $4.25</h4>
                    <h4>Macha $4.25</h4>
                    <h4>Mocha $4.25</h4>
                    <h4>Hot chocolate $4.00</h4>
                    <h4>Salep $4.25</h4>
                    <h4>Turkish tea $2.00</h4>
                    <h4>Iced tea $3.00</h4>
                    <h4>Iced tea lemonade $3.50</h4>
                    <h4>Herbal tea $3.00</h4>
                    <div class="row justify-content-around">
                        <div class="col-md-4 col-sm-12">
                            <div>*Chamomile</div>
                            <div>*Lemon ginger</div>
                            <div>*Apple</div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div>*Green tea</div>
                            <div>*Raspberry hibiscus</div>
                            <div>*Jasmen</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 


  


   
    
