body, html {
  height: 100%;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.bg {
  background: url(../assets/logos/bg-2000.jpg ) center top repeat-y fixed;
}

@media only screen and (max-width: 767px){
  .bg {
      background: url(../assets/logos/bg-1000.jpg) center top repeat-y;

  }
} 
