<!-- <div class="card text-white">
  <img class="card-imgz img-responsive" id="wrap-bg" src="/assets/logos/bg-1000.jpg" srcset="/assets/logos/bg-2000.jpg 2000w" alt="Card image">
  <div class="card-img-overlay">
    <div class="container" id="wrap-bg">
      <app-topbar></app-topbar>
      <app-header></app-header>
      <div class="row">
        <div class="col-md-12">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div> -->



<div class="bg">
  <div class="container">
    <app-topbar></app-topbar>
    <app-header></app-header>
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </div>
</div>