<div class="row">
    <div class="col-lg-4 col-md-6 col-xs-12 mrg-img zoom">
        <a href="https://www.instagram.com/p/CJB4DYoBi-w/">
            <img src="assets/home-imgs/logo-simit.jpg" alt="Simit" class="img-responsive img-size rounded">
        </a>
    </div>
    <div class="col-lg-4 col-md-6 col-xs-12 mrg-img zoom">
        <a href="https://www.instagram.com/p/CGnEKsBnCHa/">
            <img src="assets/home-imgs/kunefe.jpg" alt="Kunefe" class="img-responsive img-size rounded">
        </a>
    </div>
    <div class="col-lg-4 col-md-6 col-xs-12 mrg-img zoom">
        <a href="https://www.instagram.com/p/CJO1wWQBXHu/">
            <img src="assets/home-imgs/acmalar-cay.jpg" alt="Acmalar" class="img-responsive rounded img-size">
        </a>
    </div>
    <div class="col-lg-4 col-md-6 col-xs-12 mrg-img zoom">
        <a href="https://www.instagram.com/p/CJ82ofdJM0D/">
            <img src="assets/home-imgs/gold-baklava.jpg" alt="Gold Baklava" class="img-responsive img-size rounded">
        </a>
    </div>
    <div class="col-lg-4 col-md-6 col-xs-12 mrg-img zoom">
        <a href="https://www.instagram.com/p/CJT19DUBQvz/">
            <img src="assets/home-imgs/choc-baklava.jpg" alt="Chocolate Baklava"
                class="img-responsive img-size rounded">
        </a>
    </div>
    <div class="col-lg-4 col-md-6 col-xs-12 mrg-img zoom">
        <a href="https://www.instagram.com/p/CKgljG3hY16/">
            <img src="assets/home-imgs/lady-lips.jpg" alt="Lady Lips" class="img-responsive img-size rounded">
        </a>
    </div>
    <div class="container">
        <div class="text-center">
            <h4 class="align-work">How We Work</h4>
            <p>
                I did some changes!
                We are known for providing the highest quality freshly baked products at affordable price 
                with always exceptional service.  Everything is made in house by our exceptional culinary team
                with nothing but the finest ingredients. We value quality and freshness
                as the most important part of our product, with this being the case we only make enough for the day. ​
            </p>
            <p>
                With recent Covid restrictions loosened up, we can now have outdoor dining as well as takeout.
                We are sincerely grateful for your continued support during the difficult times.
                We do ask that everyone enters wearing a mask. Preorders can be placed under the "Order Online" tab.
                We appreciate your continued support and look forward to having you.
            </p>
        </div>
    </div>
    <div class="col-12 mrg-img">
        <p>
            <iframe id="map-size" class="map rounded"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3019.0309412394126!2d-73.98892198462205!3d40.827284038491584!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2f7263320d359%3A0x2bb2128b48b2908d!2sAleria%20Bakery%20and%20Cafe!5e0!3m2!1sen!2sus!4v1611783087418!5m2!1sen!2sus"
                frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </p>
    </div>
</div>