.img-size {
    background-color:#fdfdf9;
    padding: 19px 17px 16px 18px;
    display: block;
    margin: 0 auto;
    max-height: 335px;
}


.mrg-img {
    margin-top: 10px;
    margin-bottom: 10px;
}

#map-size {
    display:flex;
    height: 335px;
    width: 1170px !important;
    margin-top: 10px;
    margin-bottom: 10px;

}

@media (max-width: 400px) {  
    .img-size {
        width: 200px;
        height: 200px;
        padding: 0px !important;
    }
 }

 .zoom {
    transition: transform .2s; /* Animation */
  }
  
  .zoom:hover {
    transform: scale(1.1);
  }