<div class="row">
    <div class="col-lg-4 col-md-6 mrg-img zoom">
        <a href="https://www.instagram.com/p/CJB4DYoBi-w/">
            <img src="assets/home-imgs/logo-simit.jpg" alt="Simit" class="img-responsive img-size rounded">
        </a>
    </div>
    <div class="col-lg-4 col-md-6 mrg-img zoom">
        <a href="https://www.instagram.com/p/CGnEKsBnCHa/">
            <img src="assets/home-imgs/kunefe.jpg" alt="Kunefe" class="img-responsive img-size rounded">
        </a>
    </div>
    <div class="col-lg-4 col-md-6 mrg-img zoom">
        <a href="https://www.instagram.com/p/CJO1wWQBXHu/">
            <img src="assets/home-imgs/acmalar-cay.jpg" alt="Acmalar" class="img-responsive rounded img-size">
        </a>
    </div>
    <div class="col-lg-4 col-md-6 mrg-img zoom">
        <a href="https://www.instagram.com/p/CMr1QLOBjte/">
            <img src="assets/home-imgs/vegan-baklava.jpg" alt="Vegan Baklava" class="img-responsive img-size rounded">
        </a>
    </div>
    <div class="col-lg-4 col-md-6 mrg-img zoom">
        <a href="https://www.instagram.com/p/CJT19DUBQvz/">
            <img src="assets/home-imgs/choc-baklava.jpg" alt="Chocolate Baklava"
                class="img-responsive img-size rounded">
        </a>
    </div>
    <div class="col-lg-4 col-md-6 mrg-img zoom">
        <a href="https://www.instagram.com/p/CKgljG3hY16/">
            <img src="assets/home-imgs/lady-lips.jpg" alt="Lady Lips" class="img-responsive img-size rounded">
        </a>
    </div>
    <div class="container">
        <div class="text-center">
            <h4 class="align-work">Welcome to Aleria Bakery!</h4>
            <p>We use the highest quality ingredients to create pastries, paninis, baklavas, and variety of desserts made in house by 
                exceptional culinary team with nothing but the finest ingredients. We value quality and freshness
                as the most important part of our product.
            </p>
            <p>We offer a wide variety of sweet treats and baked goods including baklavas, boreks, sesame bagels, profotorols, 
                eclers, kunefes, katmers, tarts, sobiyets and more!!
            </p>
        </div>
    </div>
    <iframe id="map-size" class="map rounded"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3019.0309412394126!2d-73.98892198462205!3d40.827284038491584!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2f7263320d359%3A0x2bb2128b48b2908d!2sAleria%20Bakery%20and%20Cafe!5e0!3m2!1sen!2sus!4v1611783087418!5m2!1sen!2sus"
        frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>